##
## Don't edit manually - Managed by Saltstack
##
## Find details at https://github.com/runabove/beamium
##

## Sources

scrapers:
{%- for scraper in pillar['beamium']['scrapers'] %}
  {{ scraper }}:
    url: {{ pillar['beamium']['scrapers'][scraper]['url'] }}
    {% if 'format' in pillar['beamium']['scrapers'][scraper] -%}
    format: {{ pillar['beamium']['scrapers'][scraper]['format'] }}
    {%- endif %}
    {% if 'period' in pillar['beamium']['scrapers'][scraper] -%}
    period: {{ pillar['beamium']['scrapers'][scraper]['period'] }}
    {%- endif %}
    {% if 'metrics' in pillar['beamium']['scrapers'][scraper] -%}
    metrics:
	{%- for metric in  pillar['beamium']['scrapers'][scraper]['metrics'] %}
	- {{ metric }}
	{% endfor -%}
    {%- endif %}
    {% if 'labels' in pillar['beamium']['scrapers'][scraper] -%}
    labels:
    {%- for label in pillar['beamium']['scrapers'][scraper]['labels'] %}
      {{ label }}: {{ pillar['beamium']['scrapers'][scraper]['labels'][label] }}
    {% endfor -%}
    {%- endif %}
    {% if 'headers' in pillar['beamium']['scrapers'][scraper] -%}
    headers:
	{%- for header in  pillar['beamium']['scrapers'][scraper]['headers'] %}
      {{ header }}: {{ pillar['beamium']['scrapers'][scraper]['headers'][header] }}
    {% endfor -%}
    {%- endif %}
{%- endfor %}

## Destinations

sinks:
{%- for sink in pillar['beamium']['sinks'] %}
  {{ sink }}:
    url: {{ pillar['beamium']['sinks'][sink]['url'] }}
    token: {{ pillar['beamium']['sinks'][sink]['token'] }}
    {% if 'token-header' in pillar['beamium']['sinks'][sink] -%}
    token-header: {{ pillar['beamium']['sinks'][sink]['token-header'] }}
    {% endif -%}
    {% if 'selector' in pillar['beamium']['sinks'][sink] -%}
    selector: {{ pillar['beamium']['sinks'][sink]['selector'] }}
    {% endif -%}
    {% if 'ttl' in pillar['beamium']['sinks'][sink] -%}
    ttl: {{ pillar['beamium']['sinks'][sink]['ttl'] }}
    {% endif -%}
    {% if 'size' in pillar['beamium']['sinks'][sink] -%}
    size: {{ pillar['beamium']['sinks'][sink]['size'] }}
    {% endif -%}
    {% if 'parallel' in pillar['beamium']['sinks'][sink] -%}
    parallel: 	{{ pillar['beamium']['sinks'][sink]['parallel'] }}
    {% endif -%}
{%- endfor %}

## Defaults labels

{%- if 'labels' in pillar['beamium'] %}
labels:
{%- for label in pillar['beamium']['labels'] %}
  host: {{ pillar['beamium']['labels'][label] }}
{%- endfor %}
{%- endif %}

## Parameters

parameters:
  source-dir:   {{ pillar['beamium']['parameters']['source-dir'] }}
  sink-dir:     {{ pillar['beamium']['parameters']['sink-dir'] }}
  log-file:     {{ pillar['beamium']['parameters']['log-file'] }}
  scan-period:  {{ pillar['beamium']['parameters']['scan-period'] }}
  batch-count: 	{{ pillar['beamium']['parameters']['batch-count'] }}
  batch-size:   {{ pillar['beamium']['parameters']['batch-size'] }}
  timeout:      {{ pillar['beamium']['parameters']['timeout'] }}
  log-level:    {{ pillar['beamium']['parameters']['log-level'] }}
