[Unit]
Description=Pen load balancer - {{ name }}

[Service]
Type=forking
PIDFile=/run/pen/{{ name }}.pid
ExecStart=/usr/bin/pen -C /run/pen/{{ name }}.ctl -F /etc/pen/{{ name }}.cfg -p /run/pen/{{ name }}.pid {{ service.ip}}:{{ service.port }}
