{%-
set host_to_color = dict(
			  vps001='127',
			  srv002='214',
			  ks001='033',
			  mail='202',
			  wazuh='200',
			  bastion='196',
			  warden='123',
			)
-%}
# see color definition here : https://jonasjacek.github.io/colors/
# or try : spectrum_ls
{% if grains['host'] in host_to_color %}
HOST_COLOR='{{ host_to_color[grains['host']] }}'
{% else %}
HOST_COLOR='255'
{% endif %}
