{%- set white_fg = [ 0, 4 ] -%}
{%- set random_seed = salt['random.seed'](range=255) %}
# see color definition here : https://jonasjacek.github.io/colors/
# or try : spectrum_ls
HOST_COLOR='{{ random_seed }}'
{% if random_seed in white_fg -%}
SOLARIZED_THEME='light'
{%- else %}
SOLARIZED_THEME='dark'
{% endif %}
