{%- set random_seed = salt['random.seed'](range=255) %}
# see color definition here : https://jonasjacek.github.io/colors/
# or try : spectrum_ls
HOST_COLOR_BG='{{ random_seed }}'
HOST_COLOR_FG='{{ (random_seed - 125) % 255 }}'
