#
# MANAGED BY SALT - don't edit manually
#

#
# Filter table
#
*filter

# Input : allow established connections
-A INPUT -m state --state ESTABLISHED -j ACCEPT
-A OUTPUT -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
COMMIT
