<?php
$CONF['configured'] = {{ config.configured }};
$CONF['database_type'] = '{{ config.database_type }}';
$CONF['database_host'] = '{{ config.database_host }}';
$CONF['database_user'] = '{{ config.database_user }}';
$CONF['database_password'] = '{{ config.database_password }}';
$CONF['database_name'] = '{{ config.database_name }}';
$CONF['domain_path'] = '{{ config.domain_path }}';
$CONF['domain_in_mailbox'] = '{{ config.domain_in_mailbox }}';
$CONF['fetchmail'] = '{{ config.fetchmail }}';
$CONF['setup_password'] = '{{ config.setup_password }}';
?>
