{%- load_yaml as defaults %}
charset: utf-8
ssl:
  protocol: TLSv1.2 TLSv1.3
  #ecdh_curve: "prime256v1:secp384r1:secp521r1"
  #ciphers: "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256"
  prefer_server_ciphers: 'off'
  session_timeout: 1d
  #session_ticket: 'off'
  stapling: 'on'
  stapling_verify: 'on'
headers:
  - Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
  - X-Content-Type-Options nosniff
  - X-Frame-Options SAMEORIGIN
  - X-XSS-Protection "1; mode=block"
authentication:
  file: /etc/nginx/conf.d/auth.htpasswd
  login: ludovic
  password: |
    -----BEGIN PGP MESSAGE-----

    hQIMA85QH7s0WVo+AQ/+MH6BHm7K28KN4LYX2qzLjF08k1IUijIEhLiM2aS7SsiR
    9knIiRNV/PMn8M6H0rQ1XgMx7hagGwztv5TshaEwxVJeXELaZ4Ahh9mpvjqAffHE
    ttuY+gUfCnEReUdyS50+LXBCV+dfbkbk9HpGDA/VjeJ+M5wX9yA+bUXVm6dPJ5fc
    s9fA4BvWW8vVTT5n709zbPHbCpyPPFTNgakB8X0yl0fvDY2r9izH6PTuKO555MVK
    mcYZ8kH79WhlEaH4ltaXlMCmZYGohVeuzldfCuDhEFz2Bxg5bNNealLzdzWE9REC
    qoi62xVLEJmvl5ylo7m+QeSIP5B8MkjCHoYdTA1v60qlQYd2JcM97uFLKCyDvpJ5
    /SOzqFyoWv0H31vDlpvdcFvAaCoBnThar8KAdLRF4bcxatNfzd1ngj4PDTgrgHA0
    bI/aOsNrsvzfC/5xMsQ6bR+PEw8rcg5WXo0J5vo6XrNh68cijdMKA473BPTWhSbJ
    YxKMhjaYYQSHiR7D1NuyxScaolYTRfKDV6ppx3AMIuEcVHJ+yHnTsNVpgfE/kQ3T
    E3P6gTdZJ/eL+HsOXynMbl/Asp/a4XONvgCDBuxPitVVADoUOEcehQZlnbmHLz5d
    /bErcRf29RYxaUJ6w3dQvxIXnSgrqKk3nleYUgmx92O/VLnhR4/1+bHmvs9xS1DS
    SwHCZIa3LM4rpDTwDaMiA99Ki0876Q3VEbNH03xR0XWtZYJeZf0I6LmMk0mLtIgC
    EiJL/O85sIUJNUTXVFxIudjbrM2Ox8UGBmJ+Cg==
    =5isy
    -----END PGP MESSAGE-----
{%- endload %}

