{%- load_yaml as defaults %}
charset: utf-8
ssl:
  protocol: TLSv1.2 TLSv1.3
  #ecdh_curve: "prime256v1:secp384r1:secp521r1"
  #ciphers: "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256"
  ciphers: "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS"
  prefer_server_ciphers: 'on'
  session_timeout: 1d
  session_ticket: 'off'
  stapling: 'on'
  stapling_verify: 'on'
headers:
  - Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
  - X-Content-Type-Options nosniff
  - X-Frame-Options SAMEORIGIN
  - X-XSS-Protection "1; mode=block"
authentication:
  file: /etc/nginx/conf.d/auth.htpasswd
  login: ludovic
{%- endload %}

