
╔═════════════╗
   SaltStack
╚═════════════╝

distrib   : {{ grains['lsb_distrib_description'] }}
kernel    : {{ grains['kernelrelease'] }}
{% for ip in grains['ipv4']|ipaddr -%}
{% if ip|is_ip(options='public') or (ip|is_ip(options='private') and not ip|is_ip(options='loopback') )-%}
ipv4	  : {{ ip }}
{% endif -%}
{% endfor -%}
{% for ip in grains['ipv6']|ipaddr -%}
{% if ip|is_ip(options='global') -%}
ipv6	  : {{ ip }}
{% endif -%}
{% endfor -%}
hostname  : {{ grains['fqdn'] }}
salt_id   : {{ grains['id'] }}
CPU	  : {{ grains['num_cpus'] }} x {{ grains['cpuarch'] }} [{{ grains['cpu_model'] }}]
MEM	  : {{ grains['mem_total'] }} MB
roles	  : {{ grains['roles']|join(', ') }}

