
 [1;90m╔═════════════════════╣[1;34m System Data [1;90m╠═════════════════════[0m
 [1;90m║ [1;31mdatacenter[0m: {{ grains['deployment']|upper }}
 [1;90m║ [1;31mhostname[0m..: {{ grains['fqdn'] }}
 [1;90m║ [1;31mdistrib[0m...: {{ grains['lsb_distrib_id'] }} {{ grains['lsb_distrib_release'] }} ({{ grains['lsb_distrib_codename'] }})
 [1;90m║ [1;31mkernel[0m....: {{ grains['kernelrelease'] }}
 [1;90m║ [1;31mCPU[0m.......: {{ grains['num_cpus'] }} x {{ grains['cpuarch'] }} [{{ grains['cpu_model'] }}]
 [1;90m║ [1;31mMEM[0m.......: {{ grains['mem_total'] }} MB
 [1;90m╠═════════════════════╣[1;34m  Saltstack  [1;90m╠═════════════════════[0m
 [1;90m║ [1;31msalt_id[0m...: {{ grains['id'] }}
 [1;90m║ [1;31mroles[0m.....: {{ grains['role']|join(', ') }}
 [1;90m║ [1;31mhighstate[0m.: {{ None | strftime('%Y-%m-%d %H:%M:%S') }}
 [1;90m╠═════════════════════╣[1;34m   Network   [1;90m╠═════════════════════[0m
 [1;90m║ [1;31mipv4[0m......: {% for ip in grains['ipv4'] %}{% if ip|is_ipv4(options='public') and not ip|is_ipv4(options='loopback') %}{{ ip }} {% endif %}{% endfor %}
 [1;90m║ [1;31mipv4[0m......: {% for ip in grains['ipv4'] %}{% if ip|is_ipv4(options='private') and not ip|is_ipv4(options='loopback') %}{{ ip }} {% endif %}{% endfor %}
 [1;90m║ [1;31mipv6[0m......: {% for ip in grains['ipv6']|ipaddr %}{% if ip|is_ip(options='global') %}{{ ip }}{% endif %}{% endfor %}
 [1;90m║ [1;31mdns[0m.......: {{ grains['dns']['nameservers']|join(', ')}}
