#
# MANAGED BY SALT - don't edit it manually
#

#
# Creating set {{ pillar['ipset_custom'][ipset_name]['name'] }}
#

create {{ pillar['ipset_custom'][ipset_name]['name'] }} hash:net {% if 'timeout' in pillar['ipset_custom'][ipset_name] %} timeout {{ pillar['ipset_custom'][ipset_name]['timeout'] }} {% endif %}

#
# Adding ip to {{ pillar['ipset_custom'][ipset_name]['name'] }}
#

{% if 'ips' in pillar['ipset_custom'][ipset_name] -%}
{% for ip in pillar['ipset_custom'][ipset_name]['ips'] -%}
add {{ pillar['ipset_custom'][ipset_name]['name'] }} {{ ip }}
{% endfor -%}
{% endif -%}
