{% set rspamd = salt['grains.filter_by']({
    'Debian': {
        'config': {
		'dkim_path': '/var/lib/rspamd/dkim/',
		'arc_path': '/var/lib/rspamd/arc/',
           },
        'packages': ['rspamd'],
    },
    'Arch': {
        'config': {
		'dkim_path': '/var/lib/rspamd/dkim/',
		'arc_path': '/var/lib/rspamd/arc/',
            },
        'packages': ['rspamd'],
    },
    'RedHat': {
        'config': {
		'dkim_path': '/var/lib/rspamd/dkim/',
		'arc_path': '/var/lib/rspamd/arc/',
            },
         'packages': ['rspamd'],
    },
    'default': {
        'config': {
		'dkim_path': '/var/lib/rspamd/dkim/',
		'arc_path': '/var/lib/rspamd/arc/',
           },
        'packages': ['rspamd'],
    },
}, merge=salt['pillar.get']('rspamd:lookup')) %}

