{%- load_yaml as nexus %}
{% for server, addrs in salt.saltutil.runner('mine.get', tgt='roles:nexus', fun='network.ip_addrs', tgt_type='grain').items() %}
{{ server }}:
{% for addr in (addrs | ipv4)  %}
{% if(addr | is_ip(options='private')) %}
  - {{ addr }}
{% endif %}
{% endfor %}
{% endfor %}
{%- endload %}
