{%- load_yaml as vault %}
{% for server, addrs in salt.saltutil.runner('mine.get', tgt='role:vault', fun='network.ip_addrs', tgt_type='grain').items() %}
{{ server }}:
{% for addr in (addrs | ipv4)  %}
{% if(addr | is_ip(options='private')) %}
  - {{ addr }}
{% endif %}
{% endfor %}
{% endfor %}
{%- endload %}
