{%- set configurations = salt.pillar.get('webhooks', [ ]) -%}

[{% for webhook in configurations|dictsort %}
    {
        "id": "{{ webhook[0] }}",
        "execute-command": "{{ salt.pillar.get("webhooks:" + webhook[0] + ":execute_command", '') }}",
        "command-working-directory": "{{ salt.pillar.get("webhooks:" + webhook[0] + ":working_directory", '') }}",
        "response-message": "{{ salt.pillar.get("webhooks:" + webhook[0] + ":response_message", '') }}",
        {% if salt.pillar.get("webhooks:" + webhook[0] + ":triggers", False) -%}
        "trigger-rule": {
            {% for trigger in salt.pillar.get("webhooks:" + webhook[0] + ":triggers",  [ ]) -%}
            "{{ trigger }}": {
                "type": "{{ salt.pillar.get("webhooks:" + webhook[0] + ":triggers:" + trigger + ":type",  '') }}",
                "secret": "{{ salt.pillar.get("webhooks:" + webhook[0] + ":triggers:" + trigger + ":secret",  '') }}"
		{%- set parameter = salt.pillar.get("webhooks:" + webhook[0] + ":triggers:" + trigger + ":parameter",  [])-%}
            	{% if parameter %}
	        "parameter": {
        	    {% for item in parameter -%}
                    "{{ item }}": "{{ parameter[item] }}"{% if not loop.last %},{% endif %}
                    {% endfor %}
                }
            	{% endif %}
            }
            {%- endfor %}
        }
        {%- endif %}
    }{% if not loop.last %},{% endif %}
{% endfor %}}]
