{% set minions_v4 = salt.saltutil.runner('mine.get', tgt='*', fun='network.ip_addrs') %}
{% set minions_v6 = salt.saltutil.runner('mine.get', tgt='*', fun='network.ip_addrs6') %}
{%- load_yaml as ips %}
bastion:
  ipv4:
    - 82.65.179.161/32      # whyrl.fr (new IP since incident, full-stack)
    - 82.142.3.166/32       # whyrl.fr (IP outbound with 4G aggregation)
    {% for server, addrs in salt.saltutil.runner('mine.get', tgt='roles:bastion', fun='network.ip_addrs', tgt_type='grain').items() %}
    {% for addr in (addrs | ipv4)  %}
    {% if(addr | is_ipv4) %}
    - {{ addr }}/32
    {% endif %}
    {% endfor %}
    {% endfor %}
  ipv6:
    - 2a01:e0a:5d2:48b0::/64  # whyrl.fr (new IP since incident)
    {% for server, addrs in salt.saltutil.runner('mine.get', tgt='roles:bastion', fun='network.ip_addrs6', tgt_type='grain').items() %}
    {% for addr in (addrs | ipv6)  %}
    {% if(addr | is_ip(options='global')) %}
    - {{ addr }}/128
    {% endif %}
    {% endfor %}
    {% endfor %}
myhosts:
  ipv4:
    - 10.3.0.0/16           # vRack
    - 82.65.179.161/32      # whyrl.fr (new IP since incident, full-stack)
    - 82.142.3.166/32       # whyrl.fr (IP outbound with 4G aggregation)
    {% for server, addrs in minions_v4.items() %}
    {% for addr in (addrs | ipv4)  %}
    {% if(addr | is_ip(options='public')) %}
    - {{ addr }}/32
    {% endif %}
    {% endfor %}
    {% endfor %}
  ipv6:
    - 2a01:e0a:5d2:48b0::/64  # HOME (new IPs since incident)
    {% for server, addrs in minions_v6.items() %}
    {% for addr in (addrs | ipv6) %}
    {% if(addr | is_ip(options='global')) and server != 'srv002.whyrl.fr' %}
    - {{ addr }}/128
    {% endif %}
    {% endfor %}
    {% endfor %}
{%- endload %}
