[Unit]
SourcePath=/etc/init.d/ipset
Description=Run ipset rules
After=networking.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/ipset start
ExecStop=/etc/init.d/ipset stop

[Install]
WantedBy=multi-user.target
